// fonts
$base-font-family:    'Crimson Text', serif;
$heading-font-family: 'Rock Salt', cursive;

// colours
$sky-blue: #7cdbd5;
$bright-coral: #f53240;
$golden: #f9be02;
$aquamarine: #01bf9f;
$aquamarine-dark: #01826c;
$dark-blue: #00393d;
